@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* -----------------------------

Primary Styles

----------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f8f8f8;
  font-family: "Noto Sans Japanese", sans-serif; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  border-top: 3px solid #ffed00;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3); }
  header h1 {
    width: 120px;
    height: 30px;
    color: #333;
    background-image: url(../img/APPLIFT-logo.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center; }

.brand-logo a {
  text-decoration: none; }
  .brand-logo a h1 {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap; }

.svg-container {
  width: 90%;
  max-width: 200px;
  margin: 0 auto 30px; }
  .svg-container svg {
    display: block;
    overflow: hidden;
    max-width: 100%;
    border: 3px solid #223443;
    border-radius: 3px; }
  .no-js .svg-container {
    height: 200px;
    background: url("../img/icon.svg") no-repeat center center; }
    .no-js .svg-container svg {
      display: none; }

.main-contents {
  margin-top: 65px;
  padding: 2em; }

.date-container {
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: 0 auto 2em; }
  .date-container time {
    font-size: 1rem;
    color: #223443;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.3em; }

.status-test {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 300px;
  margin: 0 auto; }

/* -----------------------------

Level Colors

----------------------------- */
.lv0 {
  transition: background-color 3s linear;
  background-color: #42A5F5; }

.lv1 {
  background-color: #FFEE58; }

.lv2 {
  background-color: #FFA726; }

.lv3 {
  transition: background-color 0.5s linear;
  background-color: #EF5350; }

/* -----------------------------

SVG Colors

----------------------------- */
.stroke {
  fill: none;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.stroke-color-1 {
  stroke: #223443;
  fill: #eeeeee; }
  .stroke-color-1#floor {
    fill: none; }
  .stroke-color-1#seat-bottom {
    fill: none; }

.stroke-color-2 {
  stroke: #d5d5d5;
  stroke-width: 6px; }

.fill-color-1 {
  fill: #223443; }

/* -----------------------------

Footer

----------------------------- */
/* -----------------------------

Icons

----------------------------- */
.svg-icon {
  width: 25px;
  height: 25px;
  fill: #223443; }

/* -----------------------------

Modal

----------------------------- */
.modal-section {
  padding: 2em 5%;
  text-align: center;
  background-color: #eeeeee; }
  .modal-section p {
    margin: 2em 0;
    line-height: 1.6;
    color: #d5d5d5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 768px) {
    .modal-section {
      padding: 4em 10%; }
      .modal-section p {
        font-size: 1rem;
        line-height: 2; } }
  @media only screen and (min-width: 1170px) {
    .modal-section {
      padding: 4em 20%; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s; }
  .modal::after {
    /* gradient overlay at bottom of modal window */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: transparent;
    background: -webkit-linear-gradient( bottom , #223443, rgba(34, 52, 67, 0));
    background: linear-gradient(to top, #223443, rgba(34, 52, 67, 0)); }
  .modal .modal-content {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .modal p {
    color: #d5d5d5;
    line-height: 1.6;
    margin: 2em 0; }
  .modal-is-visible .modal {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s; }
    .modal-is-visible .modal .modal-content {
      -webkit-overflow-scrolling: touch; }
  @media only screen and (min-width: 768px) {
    .modal .modal-content {
      padding: 4em 10%; } }
  @media only screen and (min-width: 1170px) {
    .modal .modal-content {
      padding: 6em 20%; } }

.modal-action {
  position: relative; }
  .modal-action .btn, .modal-action .modal-bg {
    display: inline-block;
    height: 4em;
    background-color: rgba(34, 52, 67, 0.9); }
  .modal-action .btn {
    cursor: pointer;
    width: 12.5em;
    border-radius: 5em;
    color: #d5d5d5;
    line-height: 4em;
    white-space: nowrap;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
    -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
    transition: color 0.2s 0.3s, width 0.3s 0s; }
    .modal-action .btn.to-circle {
      width: 4em;
      color: transparent;
      -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
      -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
      transition: color 0.2s 0s, width 0.3s 0.2s; }
  .modal-action .modal-bg {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 4em;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-2em);
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -o-transform: translateX(-2em);
    transform: translateX(-2em);
    -webkit-transition: visibility 0s 0.5s;
    -moz-transition: visibility 0s 0.5s;
    transition: visibility 0s 0.5s; }
    .modal-action .modal-bg.is-visible {
      opacity: 1;
      visibility: visible; }

.modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s; }
  .no-touch .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .modal-is-visible .modal-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  @media only screen and (min-width: 768px) {
    .modal-close {
      top: 70px; } }

.taglist {
  color: #fff; }

.modal-action .btn.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
