@import 'bourbon/bourbon';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import '../partials/variables';
@import '../partials/layout';
@import '../partials/mixins';
/* -----------------------------

Primary Styles

----------------------------- */
*,
*::after,
*::before {
  @include box-sizing(border-box);
}

body {
  background-color: $color-4;
  font-family: $primary-font;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  border-top: 3px solid #ffed00;
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.3);

  h1 {
    width: 120px;
    height: 30px;
    color: #333;
    background-image: url(../img/APPLIFT-logo.png);
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center;
  }

}

.brand-logo a {
  text-decoration: none;

  & h1 {
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
  }
}

.svg-container {
  width: 90%;
  max-width: 200px;
  margin: 0 auto 30px;

  svg {
    display: block;
    overflow: hidden;
    max-width: 100%;
    border: 3px solid $color-1;
    border-radius: 3px;
  }

  .no-js & {
    height: 200px;
    background: url('../img/icon.svg') no-repeat center center;

    svg {
      display: none;
    }
  }
}

.main-contents {
  margin-top: 65px;
  padding: 2em;

  @include MQ(M) {
      padding: 4em;
  }

  @include MQ(L) {
      padding: 8em;
  }
}

.date-container {
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: 0 auto 2em;

  & time {
    font-size: 1rem;
    color: $color-1;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.3em;
  }
}

.status-test {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}
/* -----------------------------

Level Colors

----------------------------- */
.lv0 {
  transition: background-color 3s linear;
  background-color: $color-lv0;
}

.lv1 {
  background-color: $color-lv1;
}

.lv2 {
  background-color: $color-lv2;
}

.lv3 {
  transition: background-color 0.5s linear;
  background-color: $color-lv3;
}
/* -----------------------------

SVG Colors

----------------------------- */
.stroke {
  fill: none;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.stroke-color-1 {
  stroke: $color-1;
  fill: $color-2;

  &#floor {
    fill: none;
  }

  &#seat-bottom {
    fill: none;
  }
}

.stroke-color-2 {
  stroke: $color-3;
  stroke-width: 6px;
}

.fill-color-1 {
  fill: $color-1;
}

/* -----------------------------

Footer

----------------------------- */
// footer {
//   width: 100%;
//   padding: 3em;
//   background-color: $color-4;
//   position: fixed;
//   bottom: 0;
// }

/* -----------------------------

Icons

----------------------------- */
.svg-icon {
  width: 25px;
  height: 25px;
  fill: $color-1;
}

/* -----------------------------

Modal

----------------------------- */

.modal-section {
    height: 128px;
    width: 100%;
    position: absolute;
    bottom: 0;
	padding: 2em 5%;
	text-align: center;
	background-color: $color-2;

	p {
		margin: 2em 0;
		line-height: 1.6;
		color: $color-3;
		@include font-smoothing;
	}

}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	@include transition(visibility 0s .3s, opacity .3s 0s, z-index 0s .3s);

	&::after {
		/* gradient overlay at bottom of modal window */
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 60px;
		pointer-events: none;
		background: transparent;
		@include background(linear-gradient(to top,rgba($color-1, 1), rgba($color-1, 0)));
	}

	.modal-content {
		height: 100%;
		width: 100%;
		padding: 3em 5%;
		text-align: left;
		overflow-y: auto;
		@include font-smoothing; // see partials > mixins.scss

        .commentBox {
            font-size: 16px;
            margin-top: 10px;
        }
	}

	p {
		color: $color-3;
		line-height: 1.6;
		margin: 2em 0;

        &.commentLable {
            margin-bottom: 0px;
        }

	}

	.modal-is-visible & {
		z-index: 1;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;

		@include transition(visibility 0s 0s, opacity .3s 0s, z-index 0s 0s);

		.modal-content {
			-webkit-overflow-scrolling: touch;
		}
	}

	@include MQ(M) {

		.modal-content {
			padding: 4em 10%;
		}
	}

	@include MQ(L) {

		.modal-content {
			padding: 6em 20%;
		}

	}
}

.modal-action {
	position: relative;

	.btn, .modal-bg {
        display: inline-block;
		height: 4em;
		background-color: $color-1;

        &:last-of-type {
            background-color: rgba(34,52,67, 0.9);
        }
	}

	.btn {
        cursor: pointer;
		width: 12.5em;
		border-radius: 5em;

		color: $color-3;
		line-height: 4em;
		white-space: nowrap;
		font-weight: 700;
		@include font-smoothing;

		@include transition(color .2s .3s, width .3s 0s);

		&.to-circle {
			width: 4em;
			color: transparent;
			@include transition(color .2s 0s, width .3s .2s);
		}

        &.hidden {
            display: none;

        }

        &.inprogress {
            background-color: #eee;
            pointer-events: none;
            color: $color-1;
        }
	}

	.modal-bg {
		position: absolute;
		z-index: 1;
		left: 50%;
    	top: 0;
		width: 4em;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
    	@include transform(translateZ(0));
    	@include transform(translateX(-2em));
		@include transition(visibility 0s .5s);

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}
	}
}

.modal-close {
	position: fixed;
	z-index: 1;
	top: 20px;
	right: 5%;
	height: 50px;
	width: 50px;
	border-radius: 50%;

	background: rgba(#000, .3) url(../img/icon-close.svg) no-repeat center center;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	visibility: hidden;
	opacity: 0;
	@include transform(translateZ(0));
	@include transform(scale(0));
	@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

	.no-touch &:hover {
		background-color: rgba(#000, .5);
	}

	.modal-is-visible & {
		visibility: visible;
		opacity: 1;
		@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
		@include transform(scale(1));
	}

	@include MQ(M) {
		top: 70px;
	}
}

.chkbox {
	margin:			0 0 10px 0;
}
/* ラベルのスタイル　*/
.chkbox label {
	padding-left:		30px;			/* ラベルの位置 */
	font-size:		18px;
	line-height:		18px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}

/* ボックスのスタイル */
.chkbox label:before {
	content:		'';
	width:			18px;			/* ボックスの横幅 */
	height:			18px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.chkbox input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.chkbox input[type=checkbox]:checked + label:before {
	content:		'\2713';		/* チェックの文字 */
	font-size:		18px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color: $color-lv3;			/* チェックした時の色 */
}

.saveBtn {
    font-size: 14px;
    display: block;
    background-color: $color-4;
    color: $color-1;
    margin: 30px auto 0;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    text-align: center
}


/* -----------------------------

Tag & Comment

----------------------------- */

.taglist {
    color: #fff;
}
