//.com.apple.timemachine.donotpresent
$color-1: #223443;
$color-2: #dddddd;
$color-3: darken($color-2, 10%);
$color-4: #f8f8f8;
$color-lv0: #42A5F5;
$color-lv1: #FFEE58;
$color-lv2: #FFA726;
$color-lv3: #EF5350;

//fonts

$primary-font: 'Noto Sans Japanese', sans-serif;
