//.com.apple.timemachine.donotpresent
$color-1: #223443;
$color-2: #D7DCE0;
$color-3: darken($color-2, 10%);
$color-4: #f8f8f8;
$color-lv0: #cfffc9;
$color-lv3: #ffccc9;

//fonts

$primary-font: 'Noto Sans Japanese', sans-serif;
